@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@{
    var isRootAdmin = false;
    var isAdmin = false;
    var isUser = false;
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        if (user != null)
        {
            isRootAdmin = await UserManager.IsInRoleAsync(user, "RootAdmin");
            isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
            isUser = await UserManager.IsInRoleAsync(user, "User");
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PBRmatsWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PBRmatsWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@yaireo/tagify/dist/tagify.css" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light element box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index" id="homeLink">PBRmats Library</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1">
                        @if (isRootAdmin || isAdmin)
                        {
                            <li>
                                <a class="nav-link text-light" asp-area="" asp-controller="License" asp-action="Index">LicensesEditor</a>
                            </li>
                            <li>
                                <a class="nav-link text-light" asp-area="" asp-controller="Category" asp-action="Index">CategoriesEditor</a>
                            </li>
                            <li>
                                <a class="nav-link text-light" asp-area="" asp-controller="Tag" asp-action="Index">TagsEditor</a>
                            </li>
                            <li>
                                <a class="nav-link text-light" asp-area="" asp-controller="Material" asp-action="Index">MaterialsEditor</a>
                            </li>
                        }
                        @if (isRootAdmin)
                        {
                            <li>
                                <a class="nav-link text-warning" asp-area="" asp-controller="Role" asp-action="Index">RolesEditor</a>
                            </li>
                        }
                        @if (isUser/* && !(isRootAdmin || isAdmin)*/)
                        {
                            <li>
                                <a class="nav-link text-info" asp-area="" asp-controller="Collection" asp-action="Index">My Collections</a>
                            </li>
                        }
                    </ul>

                     <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="page-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<script>
    document.getElementById('homeLink').addEventListener('click', function () {
        localStorage.removeItem('selectedCategoryId');
        localStorage.removeItem('sortBy');
    });
</script>