@using PBRmats.Core.Entities
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@model IEnumerable<MaterialsCollection>

@{
    var isRootAdmin = false;
    var isAdmin = false;
    var isUser = false;
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        if (user != null)
        {
            isRootAdmin = await UserManager.IsInRoleAsync(user, "RootAdmin");
            isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
            isUser = await UserManager.IsInRoleAsync(user, "User");
        }
    }
}

<div class="modal fade" id="collectionsModal" tabindex="-1" aria-labelledby="collectionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content window h-100">

            <div class="modal-header">
                <h5 class="modal-title" id="collectionsModalLabel">Collections</h5>
                <button type="button" class="btn-close" style="background-color: white;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body overflow-y-auto">
                @if (isUser)
                {
                    @if (Model != null && Model.Any())
                    {
                        <!-- Hidden input for storing selected material ID -->
                        <input type="hidden" id="selectedMaterialId" value="" />

                        <div class="row" id="collectionCardsContainer">
                            @foreach (var collection in Model)
                            {
                                <div class="col-md-4 col-sm-6 mb-4 justify-content-center align-items-center">
                                    <div class="collection-card card element h-100 view-collection"
                                         data-url="@Url.Action("AddMaterialToCollection", "Collection")"
                                         data-collection-id="@collection.Id"
                                         style="background-color:@collection.CardColor; cursor: pointer;">
                                        <div class="card-body">
                                            <h5 class="card-title">@collection.Title</h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <p>You don't have collections</p>
                    }
                }
            </div>
        </div>
    </div>
</div>
