@model PBRmats.Core.Entities.Material

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data" class="d-flex flex flex-column gap-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgColor" class="control-label"></label>
                <input asp-for="AvgColor" type="color" class="form-control" />
                <span asp-validation-for="AvgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgSpecularColor" class="control-label"></label>
                <input asp-for="AvgSpecularColor" type="color" class="form-control" />
                <span asp-validation-for="AvgSpecularColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgMetallic" class="control-label"></label>
                <input asp-for="AvgMetallic" class="form-control" />
                <span asp-validation-for="AvgMetallic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgIOR" class="control-label"></label>
                <input asp-for="AvgIOR" class="form-control" />
                <span asp-validation-for="AvgIOR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label> 
                <select asp-for="CategoryId" asp-items="@(ViewData["Categories"] as SelectList)" class="form-control">
                    <option value="">Select a Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseId" class="control-label"></label>
                <select asp-for="LicenseId" asp-items="@(ViewData["Licenses"] as SelectList)" class="form-control">
                    <option value="">Select a License</option>
                </select>
                <span asp-validation-for="LicenseId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input name='MaterialTags' id="MaterialTags">
            </div>

            <div class="form-group">
                <label for="MaterialZipFile" class="control-label">Upload ZIP File</label>
                <input type="file" name="MaterialZipFile" class="form-control" accept=".zip" />
            </div>

            <div class="form-group">
                <label for="MaterialImage" class="control-label">Upload Image</label>
                <input type="file" name="MaterialImage" id="MaterialImage" class="form-control" onchange="previewImage();" />
            </div>
            <div class="form-group">
                <img id="preview" src="#" alt="Image Preview" style="max-width: 200px; display: none;" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}