@using PBRmats.Core.Entities
@model MaterialsCollection

@{
    ViewData["Title"] = "View";
    var materials = Model.MaterialMaterialsCollection?.Select(m => m.Material) ?? Enumerable.Empty<Material>();
}

<div class="container">
    <div>
        <h1>Collection: @Model.Title</h1>
        <form asp-action="Delete" asp-route-id="@Model.Id">
            <a asp-action="Index" class="btn btn-info">Back to Collections</a>
            <input type="submit" value="Delete" class="btn btn-outline-danger" />
        </form>
    </div>
    
    @{
        Html.RenderPartial("_Materials", materials);
    }
</div>