@using PBRmats.Core.Entities
@model (IEnumerable<Material>, IEnumerable<MaterialsCollection>)

@{
    ViewData["Title"] = "Materials";
    var categories = ViewData["Categories"] as IEnumerable<Category>;
}

<div class="container-fluid h-100">
    <div class="row flex-grow-1">

        <!-- Left Column -->
        <div class="col-md-3 p-2" style="flex: 0 0 250px; max-width: 250px;">
            <div class="card element h-100">
                <div class="card-header ">
                    Categories
                </div>
                <div class="card-body overflow-auto">
                    @if (categories != null && categories.Any())
                    {
                        <div id="categoryButtons">
                            @foreach (var category in categories)
                            {
                                <button type="button" class="category-btn" data-id="@category.Id">@category.Title</button>
                            }
                        </div>
                    }
                    else
                    {
                        <p>No categories available.</p>
                    }
                </div>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col p-2">
            @{
                Html.RenderPartial("_SortMaterials", Model.Item1);
            }
        </div>
    </div>
</div>

<div class="modal fade" id="collectionsModal" tabindex="-1" aria-labelledby="collectionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content window h-100">

            <div class="modal-header">
                <h5 class="modal-title" id="collectionsModalLabel">Collections</h5>
                <button type="button" class="btn-close" style="background-color: white;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body overflow-y-auto">
                <div class="row">
                    @{
                        Html.RenderPartial("_Collections", Model.Item2);
                    }
                </div>

             </div>
        </div>
    </div>
</div>
