@using PBRmats.Core.Entities
@model IEnumerable<Material>

@{
    ViewData["Title"] = "Materials";
    var categories = ViewData["Categories"] as IEnumerable<Category>;
}

<div class="container-fluid h-100">
    <div class="row flex-grow-1">

        <!-- Left Column -->
        <div class="col-md-3 p-2" style="flex: 0 0 250px; max-width: 250px;">
            <div class="card element h-100">
                <div class="card-header ">
                    Categories
                </div>
                <div class="card-body overflow-auto">
                    @if (categories != null && categories.Any())
                    {
                        <div id="categoryButtons">
                            @foreach (var category in categories)
                            {
                                <button type="button" class="category-btn" data-id="@category.Id">@category.Title</button>
                            }
                        </div>
                    }
                    else
                    {
                        <p>No categories available.</p>
                    }
                </div>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col p-2">
            @{
                Html.RenderPartial("_Materials", Model);
            }
        </div>
    </div>
</div>
