html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #fff;
    background-color: #191919;
}

.element {
    background-color: #27282b;
}

.page-container {
    padding-left: 10px;
    padding-right: 10px;
}

.form-floating > .form-control {
    color: #fff;
    background-color: #27282b;
}

.material-box {
    height: 326px;
    width: 276px;
}

@media (max-width: 576px) {
    .material-box {
        height: 160px;
        width: 140px;
    }
}
